.gallery {
  padding: $xl-size $xxl-size;
  position: fixed;
  top: 10vh;
  height: 84vh;
  overflow: auto;
  &-grid {
    display: flex;
    padding: $l-size 0;
    margin-top: $l-size;
    flex-wrap: wrap;
    border-top: 2px solid $soft-grey;
  }
}
