.phone-pricing-options {
  display: flex;
  justify-content: space-between;
  &-container {
    text-align: center;
    width: 30%;
    box-shadow: $box-shadow;
    background: $white;
  }

  .one-time-price {
    background: $dark-grey;
    padding: $s-size;
    font-size: $m-size;
    color: $white;
  }
  .plan-name {
    padding: $s-size;
    font-size: $l-size;
  }
  .monthly-price {
    padding: $s-size;
    font-size: $m-size;
  }
  .select {
    padding: $s-size;
    font-size: $m-size;
    background: $grey;
    color: $white;
    cursor: pointer;
  }
  .select.active {
    padding: $s-size;
    font-size: $m-size;
    background: $green;
    cursor: pointer;
  }
  .features {
    display: flex;
    font-size: $m-size;
    color: $red-bt;
    margin: $m-size 0;

    > div {
      width: 50%;
      padding: $s-size;
    }
    > div:first-child {
      background: $red-bt;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
}
