.phone-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;

  &-small {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 60%;

    &-image {
      height: $xl-size;
      width: $xl-size;
      border-radius: 10px;
      border: $grey-border;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      cursor: pointer;

      img {
        height: 70%;
      }
    }
  }
  &-big {
    height: 100%;
    display: flex;
    align-items: center;
    img {
      height: 90%;
    }
  }
}
