.product-detail {
  padding: $xl-size $xxl-size;
  position: absolute;
  top: 10vh;
  height: 84vh;
  left: 0;
  background: $soft-grey;
  right: 0;
  overflow: auto;
  &-name {
    font-size: $l-size;
    margin: $m-size 0;
  }
  &-summary {
    margin: $m-size 0;
    text-align: justify;
  }
  &-top {
    display: flex;
    height: 60vh;

    &-outer {
      width: 100%;
    }
  }
  &-bottom {
    margin: $m-size 0;
    padding: $m-size;
  }
  &-selected {
    background: $medium-grey;
    color: $white;
    display: flex;
    font-size: $large1-font-size;
    justify-content: space-around;
    margin: $m-size 0;
    padding: $m-size;
  }
}
