.product-detail {
  padding: 5rem 10rem;
  position: fixed;
  top: 10vh;
  height: 84vh;
  left: 0;
  right: 0;
  overflow: auto;
  &-top {
    display: flex;

    &-outer {
      width: 100%;
    }
  }
}
