.product-detail {
  padding: $xl-size $xxl-size;
  position: absolute;
  top: 10vh;
  height: 84vh;
  left: 0;
  background: $soft-grey;
  right: 0;
  overflow: auto;
  &-name {
    font-size: $l-size;
    margin: $m-size 0;
  }
  &-top {
    display: flex;
    height: 60vh;

    &-outer {
      width: 100%;
    }
  }
}
