// Colors
$white: #ffffff;
$red-bt: #e60000;
$dark-grey: #333;
$grey: #999;
$soft-grey: #ebebeb;
$green: #428600;

$box-shadow: 0px 4px 10px #88888740;

// Font Size
$smallest-font-size: 1rem;
$small-font-size: 1.2rem;
$default-font-size: 1.5rem;
$large1-font-size: 1.8rem;
$large2-font-size: 2.2rem;
$large3-font-size: 4rem;

// Spacing
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 5rem;
$desktop-breakpoint: 450px;
$xxl-size: 20rem;

//Border
$grey-border: 1px solid $grey;
$red-border: 1px solid $red-bt;
